# Project Python Big Data

<b>Lakukan import library yang dibutuhkan </b>

In [1]:
import pandas as pd
import datetime as dt

<b>Baca Data dari file Persentase anak yang belum memiliki akta kelahiran</b>

In [5]:
data_persentase = pd.read_csv('Persentase_anak_yang_memiliki_akta_kelahiran_Menurut_Provinsi.csv')
display(data_persentase)

                Provinsi   2018   2019   2020
0                   ACEH  87.85  91.22  93.84
1         SUMATERA UTARA  72.29  76.81  80.45
2         SUMATERA BARAT  85.35  87.89  90.10
3                   RIAU  76.78  78.32  81.83
4                  JAMBI  90.95  91.92  93.73
5       SUMATERA SELATAN  88.82  88.65  90.65
6               BENGKULU  90.66  91.85  92.77
7                LAMPUNG  88.14  90.23  91.65
8   KEP. BANGKA BELITUNG  95.12  94.60  96.07
9              KEP. RIAU  92.95  93.53  94.71
10           DKI JAKARTA  96.23  97.01  97.52
11            JAWA BARAT  81.33  83.68  85.72
12           JAWA TENGAH  93.84  95.12  96.26
13         DI YOGYAKARTA  97.40  97.95  98.36
14            JAWA TIMUR  86.18  89.06  91.62
15                BANTEN  76.61  80.45  82.82
16                  BALI  90.49  92.72  93.85
17   NUSA TENGGARA BARAT  79.65  81.72  84.98
18   NUSA TENGGARA TIMUR  58.17  61.08  63.33
19      KALIMANTAN BARAT  81.95  85.10  87.71
20     KALIMANTAN TENGAH  82.33  83.97  87.36
21    KALIMANTAN SELATAN  89.03  90.28  92.19
22      KALIMANTAN TIMUR  92.23  92.69  93.38
23      KALIMANTAN UTARA  89.51  91.47  92.64
24        SULAWESI UTARA  85.45  88.97  91.00
25       SULAWESI TENGAH  73.69  78.02  83.37
26      SULAWESI SELATAN  87.04  89.35  91.06
27     SULAWESI TENGGARA  81.47  88.12  88.58
28             GORONTALO  90.08  92.99  93.32
29        SULAWESI BARAT  84.63  89.11  89.56
30                MALUKU  73.59  78.66  80.04
31          MALUKU UTARA  75.98  79.20  83.08
32           PAPUA BARAT  70.75  75.05  77.36
33                 PAPUA  36.32  45.88  50.40
34             INDONESIA  83.55  86.01  88.11

<b>Munculkan 5 data awal dan 5 data akhir di dataframe</b>

In [7]:
display(data_persentase.head())

display(data_persentase.tail())

         Provinsi   2018   2019   2020
0            ACEH  87.85  91.22  93.84
1  SUMATERA UTARA  72.29  76.81  80.45
2  SUMATERA BARAT  85.35  87.89  90.10
3            RIAU  76.78  78.32  81.83
4           JAMBI  90.95  91.92  93.73

        Provinsi   2018   2019   2020
30        MALUKU  73.59  78.66  80.04
31  MALUKU UTARA  75.98  79.20  83.08
32   PAPUA BARAT  70.75  75.05  77.36
33         PAPUA  36.32  45.88  50.40
34     INDONESIA  83.55  86.01  88.11

<b>Munculkan kolom Provinsi dari data persentase</b>

In [8]:
display(data_persentase['Provinsi'])

0                     ACEH
1           SUMATERA UTARA
2           SUMATERA BARAT
3                     RIAU
4                    JAMBI
5         SUMATERA SELATAN
6                 BENGKULU
7                  LAMPUNG
8     KEP. BANGKA BELITUNG
9                KEP. RIAU
10             DKI JAKARTA
11              JAWA BARAT
12             JAWA TENGAH
13           DI YOGYAKARTA
14              JAWA TIMUR
15                  BANTEN
16                    BALI
17     NUSA TENGGARA BARAT
18     NUSA TENGGARA TIMUR
19        KALIMANTAN BARAT
20       KALIMANTAN TENGAH
21      KALIMANTAN SELATAN
22        KALIMANTAN TIMUR
23        KALIMANTAN UTARA
24          SULAWESI UTARA
25         SULAWESI TENGAH
26        SULAWESI SELATAN
27       SULAWESI TENGGARA
28               GORONTALO
29          SULAWESI BARAT
30                  MALUKU
31            MALUKU UTARA
32             PAPUA BARAT
33                   PAPUA
34               INDONESIA
Name: Provinsi, dtype: object

<b>Munculkan kolom Provinsi dan 2018 </b>

In [9]:
display(data_persentase[['Provinsi', '2018']])

                Provinsi   2018
0                   ACEH  87.85
1         SUMATERA UTARA  72.29
2         SUMATERA BARAT  85.35
3                   RIAU  76.78
4                  JAMBI  90.95
5       SUMATERA SELATAN  88.82
6               BENGKULU  90.66
7                LAMPUNG  88.14
8   KEP. BANGKA BELITUNG  95.12
9              KEP. RIAU  92.95
10           DKI JAKARTA  96.23
11            JAWA BARAT  81.33
12           JAWA TENGAH  93.84
13         DI YOGYAKARTA  97.40
14            JAWA TIMUR  86.18
15                BANTEN  76.61
16                  BALI  90.49
17   NUSA TENGGARA BARAT  79.65
18   NUSA TENGGARA TIMUR  58.17
19      KALIMANTAN BARAT  81.95
20     KALIMANTAN TENGAH  82.33
21    KALIMANTAN SELATAN  89.03
22      KALIMANTAN TIMUR  92.23
23      KALIMANTAN UTARA  89.51
24        SULAWESI UTARA  85.45
25       SULAWESI TENGAH  73.69
26      SULAWESI SELATAN  87.04
27     SULAWESI TENGGARA  81.47
28             GORONTALO  90.08
29        SULAWESI BARAT  84.63
30                MALUKU  73.59
31          MALUKU UTARA  75.98
32           PAPUA BARAT  70.75
33                 PAPUA  36.32
34             INDONESIA  83.55

<b>Munculkan data persentase yang nama Provinsi-nya diawali dengan huruf S</b>

In [10]:
seleksi = data_persentase['Provinsi'].str.startswith('S')

display(data_persentase[seleksi])

             Provinsi   2018   2019   2020
1      SUMATERA UTARA  72.29  76.81  80.45
2      SUMATERA BARAT  85.35  87.89  90.10
5    SUMATERA SELATAN  88.82  88.65  90.65
24     SULAWESI UTARA  85.45  88.97  91.00
25    SULAWESI TENGAH  73.69  78.02  83.37
26   SULAWESI SELATAN  87.04  89.35  91.06
27  SULAWESI TENGGARA  81.47  88.12  88.58
29     SULAWESI BARAT  84.63  89.11  89.56

<b>Urutkan data Persentase secara descending</b>

In [11]:
display(data_persentase.sort_values(by = 'Provinsi', ascending = 0))

                Provinsi   2018   2019   2020
1         SUMATERA UTARA  72.29  76.81  80.45
5       SUMATERA SELATAN  88.82  88.65  90.65
2         SUMATERA BARAT  85.35  87.89  90.10
24        SULAWESI UTARA  85.45  88.97  91.00
27     SULAWESI TENGGARA  81.47  88.12  88.58
25       SULAWESI TENGAH  73.69  78.02  83.37
26      SULAWESI SELATAN  87.04  89.35  91.06
29        SULAWESI BARAT  84.63  89.11  89.56
3                   RIAU  76.78  78.32  81.83
32           PAPUA BARAT  70.75  75.05  77.36
33                 PAPUA  36.32  45.88  50.40
18   NUSA TENGGARA TIMUR  58.17  61.08  63.33
17   NUSA TENGGARA BARAT  79.65  81.72  84.98
31          MALUKU UTARA  75.98  79.20  83.08
30                MALUKU  73.59  78.66  80.04
7                LAMPUNG  88.14  90.23  91.65
9              KEP. RIAU  92.95  93.53  94.71
8   KEP. BANGKA BELITUNG  95.12  94.60  96.07
23      KALIMANTAN UTARA  89.51  91.47  92.64
22      KALIMANTAN TIMUR  92.23  92.69  93.38
20     KALIMANTAN TENGAH  82.33  83.97  87.36
21    KALIMANTAN SELATAN  89.03  90.28  92.19
19      KALIMANTAN BARAT  81.95  85.10  87.71
14            JAWA TIMUR  86.18  89.06  91.62
12           JAWA TENGAH  93.84  95.12  96.26
11            JAWA BARAT  81.33  83.68  85.72
4                  JAMBI  90.95  91.92  93.73
34             INDONESIA  83.55  86.01  88.11
28             GORONTALO  90.08  92.99  93.32
10           DKI JAKARTA  96.23  97.01  97.52
13         DI YOGYAKARTA  97.40  97.95  98.36
6               BENGKULU  90.66  91.85  92.77
15                BANTEN  76.61  80.45  82.82
16                  BALI  90.49  92.72  93.85
0                   ACEH  87.85  91.22  93.84